extends layout

block adminSidebar
    ul(class='sidebar-nav')
        li 
            a(href='/shop/admin/genre/create') Create Genre
        li 
            a(href='/shop/admin/game/create') Create Game
        li 
            a(href='/shop/admin/game/delete') Delete Game
        li 
            a(href='/shop/admin/genre/delete') Delete Genre

block content
