extends layout

block adminSidebar
    li(class='nav-item') 
        a(href='/shop/admin/genre/create' class='nav-link navbar-item') Create Genre
    li(class='nav-item') 
        a(href='/shop/admin/game/create' class='nav-link navbar-item') Create Game
    li(class='nav-item') 
        a(href='/shop/admin/game/delete' class='nav-link navbar-item') Delete Game
    li(class='nav-item') 
        a(href='/shop/admin/genre/delete' class='nav-link navbar-item') Delete Genre

block content
