extends layout

block content
  h1(class='genre-title')= title
  
  ul(class='genre-list grid-container')
    each genre in genre_list
      li(class='genre-list-button')
        a(href=genre.url class='btn btn-light') #{genre.name} 

    else
      li There are no genres.